@import '../../../variables';

.btn {
    padding: 8px 24px 10px;
    border-radius: 4px;
    font-size: 20px;
    line-height: 23px;
    border: none;
}
.btn-white {
    background-color: white;
    color: $primaryGreen;
    border: 1px solid $primaryGreen;
}
.btn-green {
    background-color: $primaryGreen;
    color: white;
}
.btn-grey {
    background-color: $primaryGray;
    color: $primaryBlack;
}
.block {
    min-width: 100%;
}
